


<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="goToMain()">
        <ion-icon name="arrow-back-outline"  class="text-muted"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title  class="text-muted">Usuarios</ion-title>
  </ion-toolbar>
  <ion-toolbar class="px-3" *ngIf="!status.loading && status.data">
    
    <ion-input (keyup)="filterByCell(myModel)" placeholder="Buscar" type="text" [(ngModel)]="myModel"  class="text-muted"><ion-icon name="search-outline"></ion-icon></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ng-container *ngIf="!status.loading && status.data">
    <ion-list>
      <ng-container *ngFor="let item of usersFilter; let i = index;">
        <ion-item>
          <ion-label>
            <h2  class="text-muted"><ion-icon name="call-outline"></ion-icon> {{item.numero}}</h2>
            <ion-note slot="start" class="textSucces" color="success"><ion-icon name="location-outline"></ion-icon> {{item.direccion}} {{item.numeroCasa}}</ion-note>
      
          </ion-label>
          <!-- <ion-icon slot="end" name="create-outline" ></ion-icon> -->
          <ion-icon name="ellipsis-horizontal-outline" (click)="presentActionSheet(item)"></ion-icon>
          <!-- <ion-icon name="options-outline" ></ion-icon> -->
      
        </ion-item>

      </ng-container>
    
    </ion-list>

  </ng-container>
  <ng-container *ngIf="status.loading">
    <div class="d-flex justify-content-center align-items-center  mt-5">
      <div class="text-center">
        <h3 class="text-muted">Cargando...</h3>
        <ion-spinner color="primary"></ion-spinner>
      </div>
        
    
    </div>
  

  </ng-container>
  <ng-container *ngIf="status.error">
    <div class="d-flex justify-content-center align-items-center  mt-5">
      <div class="text-center">
        <h3 class="text-muted">Error</h3>
        <ion-button class="button primary w-100" (click)="tryAgain()"> Volver a intentar</ion-button>
      </div>
        
    
    </div>

  </ng-container>
</ion-content>
<ng-container *ngIf="!status.loading && status.data">

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="success" class="primary" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ng-container>


